<h4>Octoprint CBD Settings</h4>
<form class="form-horizontal">

    <div class="control-group">

        <!--<label class="control-label">{{ _('finish installation:') }}</label>-->
        
        <div class="controls">
            <span class="help-block">Since Octoprint should not run with root rights, but the Flashdrive feature partially requires root rights, a workaround has been necessary so far.
            You would have to log into your Pi via ssh and execute the command below. It saves a script under /user/sbin and complements the /etc/sudoers file. After that
            the required kernel module can also be used safely without root rights.</span>
            <!--<input type="text" class="input-block-level" data-bind="value: settings.plugins.Chituboard.allowedExten">-->
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Extensions:') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.Chituboard.allowedExten">
        </div>
    </div>


    <div class="control-group">
        <label class="control-label">{{ _('Pi as Flashdrive:') }}</label>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settings.plugins.Chituboard.workAsFlashDrive">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Imagesize:') }}</label>
        <div class="controls">
            <input type="number" data-bind="value: settings.plugins.Chituboard.flashDriveImageSize" step="0.1" min="0.5">
        </div>
    </div>



    <div class="control-group">
        <label class="control-label">{{ _('Chitubox direct upload:') }}</label>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settings.plugins.Chituboard.chitu_comm">
        </div>
    </div>


    <div class="control-group">
        <label class="control-label">{{ _('use Resin gauge:') }}</label>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settings.plugins.Chituboard.resinGauge" disabled>
        </div>
    </div>


    <div class="control-group">
        <label class="control-label">{{ _('show photon File editor:') }}</label>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settings.plugins.Chituboard.photonFileEditor" disabled>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Power switch settings:') }}</label>
        <div class="controls">
            <select data-bind="value: settings.plugins.Chituboard.mainpowerSwitch" disabled>
                <option value="None">None</option>
                <option value="gpio">gpio</option>
                <option value="network">Network</option>
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Print Temp Sensorsettings:') }}</label>
        <div class="controls">
            <select data-bind="value: settings.plugins.Chituboard.tempSensorPrinter" disabled>
                <option value="None">None</option>
                <option value="1Wire">1Wie</option>
                <option value="ntc">ntc</option>
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Bed Temp Sensor settings:') }}</label>
        <div class="controls">
            <select data-bind="value: settings.plugins.Chituboard.tempSensorBed" disabled>
                <option value="None">None</option>
                <option value="1Wire">1Wire</option>
                <option value="ntc">ntc</option>
            </select>
        </div>
    </div>


</form>
